// Theme Colors
$primary:dodgerblue;
$secondary: #7f00d3;
$warning:#ea580c;
$success:#22c55e;
$error:#e11d48;

//Dark Layout
$dark:#1F1F1F;
$dark-1:#242424;
$dark-2:#1f2937;

//Light Layout
$light:#fafafa;
$light-1:#f5f5f5;
$light-2:#f1f5f9;

//Gray Lavels
$g:#f9fafb;
$g1:#f3f4f6;
$g2:#e5e7eb;
$g3:#d1d5db;
$g4: #9ca3af;
$g5: #6b7280;
$g6: #4b5563;
$g7: #374151;
$g8: #1f2937;
$g9: #111827;
